<div class="container">
    <input class="{{getInputClass(0)}}" type="button" name="mode" (click)="setMode(0)" value="Elements">
    <input class="{{getInputClass(1)}}" type="button" name="mode" (click)="setMode(1)" value="Blocks">
    <input class="{{getInputClass(2)}}" type="button" name="mode" (click)="setMode(2)" value="Groups">
    <input class="{{getInputClass(3)}}" type="button" name="mode" (click)="setMode(3)" value="Periods">
    <input class="{{getInputClass(4)}}" type="button" name="mode" (click)="setMode(4)" value="State">
    <input class="{{getInputClass(5)}}" type="button" name="mode" (click)="setMode(5)" value="Classification">
    <input class="{{getInputClass(6)}}" type="button" name="mode" (click)="setMode(6)" value="Radiation">
</div>